.Rproj.user
.Rhistory
.RData
teoriat-figure
teoriat.md
teoriat-rpubs.html
teoriat.Rpres
teoriat.html
simo_en.Rpres
simo_en.md
simo_fi.Rpres
simo_fi.md
misc-figure
misc.md
koyhyys.md
hyvinvointivaltio-figure
hyvinvointivaltio.md
sosiaalipolitiikka.md
